version: "3"
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./frontend:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    working_dir: /app
    volumes:
      - ./backend:/app
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongo:27017/aiblindauction
      - JWT_SECRET=your_jwt_secret
      - OPENAI_API_KEY=your_openai_api_key     # Set this! Or use .env for sensitive values.
    depends_on:
      - mongo

  ai-service:
    build: ./ai-service
    ports:
      - "5005:5005"
    working_dir: /app
    volumes:
      - ./ai-service:/app
    environment:
      - OPENAI_API_KEY=your_openai_api_key     # Set this! Or use .env

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:  
